<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <section class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user">Blog</a></li>
        </ul>
        <ul>
            <li><a href="/contact">ContactUs</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </section>
    <section class="contactus">
        
        <div class="contactus-content">
            <h1>Contact Us</h1>
            <form class="" action="/contact" method="post">
                <input type="Email" name="email" placeholder="Your Email">
                <textarea name="disc" id="disc" cols="30" rows="10" placeholder="Feedback"></textarea>
                <button>Submit</button>
            </form>
        </div>
    </section>
</body>
</html>