<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <section class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user">Blog</a></li>
        </ul>
        <ul>
            <li><a href="/contact">ContactUs</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </section>
    <section class="landing-page-1">
        <div class="container-1">
            <h1>Have an <span>Idea ?</span></h1>
            <div class="home-image">
                <img src="./image/idea.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="landing-page-2">
        <div class="container-2-content">
            <h1>Service For Growth</h1>
        <div class="container-2">
            <div class="list">
                <h3>MVP & Full Product Builds</h3>
                <h3>Web & Mobile development </h3>
                <h3>Cloud Computing</h3>
                <h3>Maintain Existing Applications</h3>
            </div>
            <div class="landing-page-2-img">
                <img src="./image/growth.jpg" alt="">
            </div>
        </div>
        </div>
    </section>
    <section class="footer">
        <footer class="footer-content">
          <div class="items">
            <a href="#"><li>Privacy Policy |</li></a>
            <a href="#"><li>Contact Us |</li></a>
            <a href="#"><li>Help </li></a>
          </div>
          <div class="copyright">
            <p>	&#169 Copyright 2023 </p>
          </div>
        </footer>
      </section>
</body>
</html>